# ---->BACK SLASH TO CONTINUE THE PROGRAMME [ \ ]:It is used to continue the programme to avoid errors in the output.It also gives an quick indication for the other developers that the code is still continuing in next line.
EXAMPLE:-

In [39]:
print ("hello 
       world")

SyntaxError: EOL while scanning string literal (<ipython-input-39-bc1691dde12f>, line 1)

In [1]:
print("Hello  \
world")

Hello  world

# BACK SLASH TO ESCAPE { ' or " }QUOTES  [ \ ]:-It is also used to skip the '''SINGLE QUOTES"' or '"DOUBLE QUOTES"' in some cases of programme if we require to eliminate them.
EXAMPLE:-

In [36]:
print("Monty python's Flying circus")
print('Monty python"s Flying circus')
print('Monty python\"s Flying circus')

Monty python's Flying circus
Monty python"s Flying circus
Monty python"s Flying circus

# BACK SLASH TO ""JUMP THE OUTPUT IN NEXT LINE""[\n] :-It is used to create  the output in next line which is coded after \n (\n can be created very close or can also create with sufficient space based upon our requirement)       
EXAMPLE:-

In [12]:
print("hello world \nthis is     \n       Bhargav Ram")

hello world
this is
       Bhargav Ram

# BACK SLASH TO CREATE THE ""SPACE"" BETWEEN OUTPUT[\t]:-It is used to create the space between the output as below

In [35]:
print("Bhargav\tRam") 
print("Bhargav     \t  Ram")

Bhargav	Ram
Bhargav     	  Ram

# BACK SLASH TO CREATE ""BELL SOUND"" IN OUTPUT[\a]:-It is used to create bell sound or tik tik sound in linux &other OS systems.

In [38]:
print("Bhargav \a  Ram")

Bhargav   Ram

# ---->TRIPLE QUOTES-It has manny applicationd in python some are listed below.    1.It is used to print ""TEXT EDITORS""(which was like pic art messages in old basic mobiles).

In [2]:
print(""""              _   
  __ _  _ __ | |_ 
 / _` || '__|| __|
| (_| || |   | |_ 
 \__,_||_|    \__|
                   """)

"              _
  __ _  _ __ | |_
 / _` || '__|| __|
| (_| || |   | |_
 \__,_||_|    \__|

#    2.It is used to create ""DOCUMENT STRINGS"" in Industries.

("""This code is developed by BHARGAV RAM"""))--->even though it execute ,it will not show the output in command line prompt.

print("""This code is developed by BHARGAV RAM""")--->it can execeute and will show the output of the programme in command line prompt.

# SIMILAR QUOTES FIGHTS:-when string is decorated(coded) with similar quotes i.e.,{'   '   '  or "   "   "  }{'  '  '  ' or "   "  "  "}gives an error as below as because it is interrupted with the quote paced next to it and closes the quotation.

In [44]:
print('monty python's flying circus')
print("monty python"s flying circus")

print('monty python's flying' circus')
print("monty "python"s flying circus")

SyntaxError: invalid syntax (<ipython-input-44-115701f0b3cf>, line 1)

# DIFFERENT QUOTES MAKES FFRIENDSHIP:-when string is decorated(coded) with different quotes i.e.,{'      "      'or "        '          "}{'      "    "     ' or "  '    ' "}gives an perfect output as below because it is not-interrupted with the quote paced next to it.

In [46]:
print('monty python"s flying circus')
print("monty python's flying circus")

print('monty "python"s flying circus')
print("monty 'python's flying circus")

monty python"s flying circus
monty python's flying circus
monty "python"s flying circus
monty 'python's flying circus

# FORMATED OUTPUT:-The input can be  simpified and make shoter to get the same output(here,the variables,values are in C/S,ANY DATA TYPE.

In [64]:
Name ="RAM"
AGE =24
MARKS=90
print("Name")
print("name of the person is",Name,"age is",AGE,"MARKS IS",MARKS)
print(f"name of the person is{Name }  age is{AGE} marks is {MARKS}")
print("NAME of the person is %s age is %d marks is%f ") 
print("NAME of the person is %s age is %d marks is%f "%(Name,AGE,MARKS))

Name
name of the person is RAM age is 24 MARKS IS 90
name of the person isRAM  age is24 marks is 90
NAME of the person is %s age is %d marks is%f
NAME of the person is RAM age is 24 marks is90.000000

# VARIABLE:

Variables are nothing but reserved memory locations to store values. This means that when you create a variable you reserve some space in memory.

Based on the data type of a variable, the interpreter allocates memory and decides what can be stored in the reserved memory.

# RULES TO DEFINE VARIABLE:-

A variable name must start with a letter or the underscore character
A variable name cannot start with a number
A variable name can only contain alpha-numeric characters and underscores (A-z, 0-9, and _ )
Variable names are case-sensitive (age, Age and AGE are three different variables)

In [71]:
A=5
B=5

A==B

True

In [75]:
A is B

False

In [77]:
id(A)

8791362020016

In [78]:
id(B)

8791362020176

In [85]:
del A

NameError: name 'A' is not defined

In [86]:
del B

NameError: name 'B' is not defined

In [87]:
A==B

NameError: name 'A' is not defined

# OPERATORS

Python Arithmetic Operators:-
Arithmetic operators are used with numeric values to perform common mathematical operations:

Operator	  Name	           Examples    
  +	        Addition	        x + y	    
  -	        Subtraction     	x - y	
  *         Multiplication   	x * y	
  /	        Division	        x / y	
  %       	Modulus         	x % y	
  **        Exponentiation	    x ** y	
  //        Floor division	    x // y

In [90]:
10 + 5

15

In [91]:
10 - 5

5

In [92]:
10 * 5

50

In [98]:
10 / 3

3.3333333333333335

In [96]:
10 // 3

3

In [97]:
10 % 3

1

In [95]:
10 ** 2

100000

# COMPARISION OPERATOR:

Python Comparison Operators:-

Comparison operators are used to compare two values:

Operator	   Name                     	Example	
  ==           Equal	                    x == y	
  !=	       Not equal	                x != y	
  >            Greater than	                x > y	
  <	           Less than	                x < y	
  >=           Greater than or equal to     x >= y	
  <=	       Less than or equal to	    x <= y

In [101]:
A=10
B=20
A == B

False

In [102]:
A != B

True

In [103]:
A >  B

False

In [104]:
A <  B

True

In [105]:
A >= B

False

In [106]:
A <= B

True

# BITWISE OPERATOR:

Python Bitwise Operators:-

Bitwise operators are used to compare (binary) numbers:

Operator	     Name       	     Description
  &              AND	        Sets each bit to 1 if both bits are 1
  |	             OR	            Sets each bit to 1 if one of two bits is 1
  ^	             XOR  	        Sets each bit to 1 if only one of two bits is 1
  ~            	 NOT Inverts    all the bits
  <<	         left shift   	Shift left by pushing zeros in from the right and let the leftmost bits fall off
  >>	         right shift	Shift right by pushing copies of the leftmost bit in from the left, and let the rightmost                                       bits fall off.

In [110]:
X=10
Y=15
Z=20
 
X>Y & Y<Z

False

In [111]:
X<Y & Y<Z

True

In [112]:
X>Y | Y<Z

False

In [114]:
X<Y | Y<Z

True

In [117]:
X<Y | Y<M

NameError: name 'M' is not defined

In [118]:
X>Y | Y<M

False

     VERY IMPORTANT QUESTION INCLUDING ""M""

#

# MEMBERSHIP OPERATOR:                                                                                          Membership operators are used to test if a sequence is presented in an object

In [121]:
VARIABLE=("BHARGAV")
"A" in VARIABLE

True

In [123]:
VARIABLE=("BHARGAV")
"A"  not in VARIABLE

False

In [124]:
VARIABLE=("BHARGAV")
"A"  NOT IN VARIABLE

SyntaxError: invalid syntax (<ipython-input-124-ab1f3b474fbf>, line 2)

in,not in is to be within small letters not to be in CAPITAL LETTERS

# IDENTITY OPERATOR:                                                                                                           
IDENTITY OPERATORS are used to compare the objects, not if they are equal, but if they are actually the same object, with the same memory location.

In [125]:
VARIABLE=("BHARGAV")
"A" is VARIABLE

False

In [126]:
VARIABLE=("BHARGAV")
"A" is not VARIABLE

True

# OPERATOR PRECEDENCE:
ARTHEMATIC PRECENDENCE IS GIVING INTHE ORDER OF PEMDAS

P - POWER                                            
E - EXPONENTION                                 
D - DIVISION                                  
M - MULTIPLICATION                                        
A - ADDITION                                     
S - SUBTRACTION

# LOGICAL OPERATOR:

Logical operators are used to combine conditional statements:
 
Operator	      Description	                                                Example
and 	      Returns True if both statements are true                   	x < 5 and  x < 10	
or	          Returns True if one of the statements is true	                x < 5 or x < 4	
not           Reverse the result, returns False if the result is true	not(x < 5 and x < 10)

#          ........Submitting DAY 2 assignment....Thank you for teaching us SAI SIR.....